@import "variables";

.about-page-container {
  .about-card-container {
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;

    .about-card-name {
      font-size: 22px;
      margin: 5px 0;
    }

    .about-card-small-detail {
      margin: 5px 0;
    }

    .about-card-website {
      margin: 8px 0;
      color: #008cff;
      text-decoration: underline;
      &:hover {
        color: #0044ff;
      }
    }

    .about-card-description {
      margin: 10px 0;
    }
  }
}
